<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>::::SUBSERVE::::</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <!--<style>
        @font-face {
          font-family: 'MapoPeacefull';
          src: url("{% static 'font/MapoPeacefull.ttf' %}");
        }
        * {
          font-family: 'MapoPeacefull';
        }
    </style> -->
</head>
<body>
    <!-- 상단 내비게이션 바 -->
    {% include 'navbar.html' %}
    <!-- 상단 내비게이션 바 종료 -->

    <div class="row" id="main">
    <!-- 좌측 사이드바 -->
    <!-- hidden 처리하고 자바스크립트로 메뉴 누르면 나오게 할거임. addclass해서 클래스에 hidden 넣었다뺐다 할거. -->
        {% include 'sidebar.html' %}
        <!-- 좌측 사이드바 종료 -->

        <!-- 중앙 카드 그리드 -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 maincenter">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="carouselcss">
                      <svg class="bd-placeholder-img" width="100%" height="270px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                      <div class="carousel-caption text-left">
                        <h1>Example headline.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carouselcss">
                      <svg class="bd-placeholder-img" width="100%" height="270px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                      <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carouselcss">
                      <svg class="bd-placeholder-img" width="100%" height="270px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                      <div class="carousel-caption text-right">
                        <h1>One more for good measure.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <a href="store/create">가게추가</a>
            <div class="album py-5">
              <div class="">
                <div class="row" id="store-cards">
                    {% for store in stores.all %}
                    <!-- 여기 for loop 들어가서 카드 만들거임 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <rect width="100%" height="100%" fill="#55595c">
                              <img src="{{ store.photo.url }}" alt="" width="100%" height="230px">
                            </rect>
                            <!-- </svg> -->
                            <div class="card-body" style="color: black;">
                              <p class="card-text">
                              <h5>{{store.storename}}</h5>
                              {{store.description}}</p>
                              <div class="d-flex justify-content-between align-items-center textbottom">
                                  <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="toDetailPage('{{forloop.counter}}')">보기</button>
                                  </div>
                                  <small class="text-muted" style="text-align:right">여기에 인기순위 넣자</small>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    <!-- 중앙 카드 그리드 종료 -->
    </div>

    <!-- 하단 footer -->
    {% include 'footer.html' %}
    <!-- 하단 footer 종료 -->
    
    <script>
      // 현재 존재하는 아이템(카드) 갯수
      let numCards = document.querySelectorAll('.card-body').length;

      function toDetailPage(idx) {
        let url = "{% url 'detail' 1 %}";
        window.location.href = url.replace("1", idx-1);
      }

      let count = 0;

      window.onscroll = function scroll() {
        if((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        let url = "{% url 'loadmoredata' %}";
        const csrftoken = Cookies.get('csrftoken');
        $.ajax({
          url: url,
          headers : {'X-CSRFToken' : csrftoken},
          data : {'count' : count},
          type: 'post',
          success : (res) => {
            res.forEach((store) => {
              let data = store['fields'];
              var addContent = '<div class="col-md-4"> <div class="card mb-4 shadow-sm">';
              addContent += '<rect width="100%" height="100%" fill="#55595c"> <img src="' + ('/media/' + data.photo) + '" ';
              addContent += 'alt="" width="100%" height="230px"></rect><div class="card-body" style="color: black;">';
              addContent += '<p class="card-text"> <h5>' + data.storename + '</h5> ' + data.description + '</p>';
              addContent += '<div class="d-flex justify-content-between align-items-center textbottom"> <div class="btn-group">';
              addContent += '<button type="button" class="btn btn-sm btn-outline-secondary" onclick="toDetailPage('+ (count%numCards+1) +')">보기</button>';
              addContent += '</div> <small class="text-muted" style="text-align:right">여기에 인기순위 넣자</small> </div> </div> </div> </div>';
              $('#store-cards').append(addContent);
              count += 1;
            })
          },
          error : (err) => {
              console.log(err);
              return;
          }
        })
      }
    }


    </script>
    <div class="topbutton">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ED1C24" width="100px" height="100px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.29 8.71L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 8.71c-.38-.39-1.02-.39-1.41 0z"/></svg>
      </a>
    </div>
</body>
</html>

<style>
  .topbutton{
    position : fixed;
    bottom: 25px;
    right: 25px;
  }

  #myCarousel {
      height: 270px;
      color: black;
  }
  
  .card-body{
    height: 230px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    position: relative;
  }

  .textbottom{
    position: absolute;
    bottom: 30px;
  }

  .ml-sm-auto{

    margin-left: 0px;
  }

  .text-muted{
    text-align: right;
    right: 0px;
    position: relative;
  }
</style>